body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
        background: url(pizza.jpg)no-repeat;

}

header {
    background-color: #ffffff;
    color: #ff0000;
    padding: 1px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.order-form {
    background-color: #f7f7f7;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-form h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

#toppings {
    list-style: none;
    padding: 0;
    margin: 0;
}

#toppings li {
    margin-bottom: 10px;
}

#toppings input[type="checkbox"] {
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #444;
}